# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# YOLO runs & outputs
runs/
outputs/

# Datasets (raw images)
data/faces/
data/microgreens/
test_images/

# Trained models & weights
models/
*.pt
*.h5
*.yml
*.pkl
